<div class="recipe-container">
  <mat-grid-list [cdkDropListConnectedTo]="['pathList']"
                 [cdkDropListData]="recipes$|async"
                 [cdkDropListSortingDisabled]="true"
                 cdkDropList
                 rowHeight="100px"
                 cols="4">
    <mat-grid-tile *ngFor="let recipe of recipes$|async; let id=index"
                   class="recipe-big-box disable-text-selection"
                   routerLink="/detail/{{id}}"
                   cdkDrag>
      <span class="text">{{recipe.name}} {{id}}</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
