:host {}

.route-button {
    padding: 0 0 0 0;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 0 0 0 0;
}

.route-button[disabled] {
    background: #cccccc;
    color: black
}

.recipe-container {
    border: solid 1px #ccc;
    float: right;
    height: 100%;
}

.toolbar-spacer { 
    flex: 1 1 auto;
}
